@model MySystem.ViewModels.Function.SubFunctionViewModel

@{
    ViewBag.Title = "我的最愛網頁管理頁面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>新增我的最愛網頁</h2>
<!-- Contents -->
@using (Html.BeginForm("SubFunctionAddPage", "Function", FormMethod.Post))
{
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">請輸入子功能資訊</div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label class="control-label col-lg-2"><a class="text-warning">*</a>子功能英文名稱:</label>
                        @Html.TextBoxFor(m => m.SubFunctionENName, new { @class = "form-control", placeholder = "Enter ENName" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label class="control-label"><a class="text-warning">*</a>子功能中文名稱:</label>
                        @Html.TextBoxFor(m => m.SubFunctionCNName, new { @class = "form-control", placeholder = "Enter CNName" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label class="control-label"><a class="text-warning">*</a>主功能類別:</label>
                        @Html.DropDownListFor(m => m.MainFunctionType, Model._MainFunctionList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label class="control-label"><a class="text-warning">*</a>子功能連結:</label>
                        @Html.TextBoxFor(m => m.SubFunctionURL, new { @class = "form-control", placeholder = "/ControllerName/PageName" })
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" type="submit" onclick="return confirm('確定要新增嗎?');">
                    <span class="glyphicon glyphicon-ok-circle"></span> 確定新增
                </button>
            </div>
        </div>
    </div>
}