@model MySystem.ViewModels.LikeWeb.WebDataViewModel

@{
    ViewBag.Title = "我的最愛網頁管理頁面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="row col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td>
                            <div class="dropdown">
                                @Html.DropDownListFor(m => m.WebTypeNeme, Model._WebTypeList, new { @class = "form-control" })
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control " placeholder="Search" name="search">
                        </td>
                        <td>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </td>
                        <td><button type="button" class="btn" onclick="location.href ='LikeWebAddPage'">新增我的最愛網頁</button></td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                    <!-- Contents -->
                    <table class="table table-hover">
                        <thead>
                            <tr class="success">
                                <th>網頁名稱</th>
                                <th>網頁類型</th>
                                <th>網頁連結</th>
                                <th>動作</th>
                            </tr>
                        </thead>
                        <tbody id="tbTeams">
                            @foreach (var data in Model.WebDataList)
                            {
                                <tr>
                                    <td>@data.WebName</td>
                                    <td>@data.WebTypeNeme</td>
                                    <td><a href=@data.WebURL>@data.WebURL</a></td>
                                    <td><button type="button" class="btn" onclick="location.href = 'LikeWebModifyPage?WebName=@data.WebName'">修改</button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
        </div>
</div>